[Unit]
Description=Early boot
After=syslog.target fsck-root.service fsck@.service
Before=sysinit.target shutdown.target
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /var/lib/ignition/early-boot
ExecStart=/bin/run-parts /var/lib/ignition/early-boot

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target
