[Unit]
Description=Late boot
After=multi-user.target

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /var/lib/ignition/late-boot
ExecStart=/bin/run-parts /var/lib/ignition/late-boot

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
